<%- include('header') -%>

  <div class="header">
    <div class="inner-header flex">
      <h1 class="is-size-1">Shopping Cart</h1>
    </div>
  </div>

  <table class="table is-hoverable is-fullwidth has-background-grey-lighter">
    <thead id="tablehead">
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody id="cartview">
      
    </tbody>
  </table>

  <a href="/checkout" class="button is-link is-medium">Checkout</a>

  <script>
    function removeProd(i) {
      fetch('http://127.0.0.1:8000/apiremove/', {
          'method':'POST',
          'headers':{
              "Accept": "application/json",
              "Content-Type": "application/json",
              "Authorization": 'Bearer '+localStorage.getItem("access")
          },
          'body': JSON.stringify({product_id:i})
      })
      .then(resp=>resp.json())
      .then(data=>{
        console.log("item removed from basket")
      })
      window.location.reload();
    }

    function displayCart(products) {
        let quantity = products['quantity'];
        let totalprice = products['item_price'];
        let prodid = products['product_id'];
        fetch(prodid)
        .then(resp => resp.json())
        .then(data => {
            let id = data['id'];
            let name = data['name'];
            let desc = data['description'];
            let price = data['price'];
            let image = data['product_image'];

            let htmlString = "<tr><td><img src=\""+image+"\" height=\"128\" width=\"128\"></td><td><a href=\""+prodid+"\">"+name+"</a></td><td>"+desc+"</td><td>€"+price+"</td><td>"+quantity+"</td><td>€"+totalprice+"</td><td><button class=\"button is-primary\" onclick=\"removeProd("+id+")\">Remove</button></td>";
            let prod = document.getElementById("cartview");
            prod.innerHTML += htmlString;
        })
    }

    function buildCart(){
        let token = localStorage.getItem("access");
        if(token == null) {
            window.location = "/login";
        }
        fetch("http://127.0.0.1:8000/api/cart/", {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer '+localStorage.getItem("access")
        }
        })
        .then(resp=>resp.json())
        .then(data=>{
            let cart = data[0];
            let id = cart['id'];
            let items = cart['items'];
            items.forEach(element => {
                displayCart(element);
            });
        })
    }
    buildCart();
  </script>

<%- include('footer') -%>