<div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(200,0,0,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(150,0,0,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(100,0,0,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(255,0,0)" />
    </g>
  </svg>
</div> 
  
  <footer class="footer has-background-dark">
    <div class="content has-text-centered">
      <p class="has-text-light">
        <strong class="has-text-light">Sidhur2's Electronic Shop</strong> by <a class="hover" href="https://richard-luc.github.io/shabatomic.github.io/">Rishabdev Sidhu</a>. I acknowlege DCU's plagiarism and declare this is solely my work with the help of Michael Scriney and
        <a class="hover" href="https://bulma.io/">Bulma</a> CSS Framework along with the waves acquired from <a class="hover" href="https://codepen.io/goodkatz/pen/LYPGxQz">Goodkatz</a>.
      </p>
    </div>
  </footer>

  <script>
	  window.userLoggedIn = false;

	  function isLoggedIn(){
		  let accessToken = localStorage.getItem("access");
      if((accessToken != null) && (typeof(accessToken)!='undefined') && (accessToken != "undefined")){
        window.userLoggedIn = true;
      }
		  if(window.userLoggedIn){
          let loginLink = document.getElementById("auth-link");
          loginLink.innerHTML = "Logout";
          loginLink.href = "/";
          let register = document.getElementById("signup");
          register.remove();
			}
      else{
        let cart = document.getElementById("navcart");
        let order = document.getElementById("navorder");
        cart.remove();
        order.remove();
      }
	  }

    window.onload = function(){
	    isLoggedIn(); // when the page loads call isLoggedIn
    }

    let logout = document.getElementById("auth-link");
    logout.onclick = function() {
      localStorage.setItem("access","undefined");
      localStorage.setItem("refresh","");
      window.userLoggedIn = false;
    }

</script>

</body>
</html>