<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<link rel="icon" type="image/png" href="/images/logo.png">
	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
			    <a class="navbar-item navbar_item" href="/">
				    <img src="/images/logo.png" height=28 width=28>--Home
			    </a>
		  
			    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				    <span aria-hidden="true"></span>
				    <span aria-hidden="true"></span>
				    <span aria-hidden="true"></span>
			    </a>
			</div>
		  
			<div id="navbarBasicExample" class="navbar-menu">
			    <div class="navbar-start">
				    <a href="/home" class="navbar-item navbar_item">Shop</a>
					<a href="/cart" id="navcart" class="navbar-item navbar_item">Cart</a>
					<a href="/order" id="navorder" class="navbar-item navbar_item">Order history</a>
			    </div>
		  
			    <div class="navbar-end">
				    <div class="navbar-item">
				        <div class="buttons">
							<a href="/register" id="signup" class="button is-link">Register</a>
					        <a href="/login" id="auth-link" class="button is-link">Login</a>
			            </div>
			        </div>
		        </div>
			</div>
		</nav>