<%- include('header') -%>

    <div id="container" class="shopcontainer">
        <div id="prods" class="columns">

        </div>
    </div>
    
    <script>
    let i = 0;
    let j = 0;
    let req = "http://127.0.0.1:8000/api/products/"
        fetch(req)
		    .then(response => response.json())
            .then(data => data.forEach(element => {
                let name = element['name'];
                let image = element.product_image;
                let id = element.id;

                if (i > 2) {
                    let mainprod = document.getElementById("container");
                    mainprod.innerHTML += "<div class=\"columns\"></div>";
                    i = 0;
                    j++;
                }

                let htmlString = "<div class=\"column\"><a href=\"/productindividual?id="+id+"\" target=\"_blank\"><img src=\""+image+"\" height=\"250\" width=\"250\"><p class=\"home_item\">"+name+"</p></a>";
                let prod = document.getElementsByClassName("columns");
                prod[j].innerHTML += htmlString;
                i++;
            }))
    </script>

<%- include('footer') -%>