  <%- include('header') -%>

    <div class="header">
      <div class="inner-header flex">
        <h1 class="is-size-1"><img src="/images/logo.png" height=40 width=40>   Welcome to <%= title %></h1>
      </div>
      <div class="inner-header flex">
        <a href="/home" class="button is-primary is-large is-rounded">Browse Our Products!</a>
      </div>
    </div>

  <!--<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">-->

  <%- include('footer') -%>
