    <%- include('header') -%>
        <div class="header">
            <div class="inner-header flex">
                <h1 class="is-size-1">Login</h1>
            </div>
        </div>
        
        <form id="login_form" class="box formcol">
            <div class="field"></div>
                <label class="label" for="username-input">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username-input" id="username" placeholder="Your username" required>
                </div>
            </div>
            <div class="field">
                <label  class="label" for="password-input">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password-input" placeholder="Your password" required>
                </div>
            </div>
            <button class="button is-info is-rounded" type="submit">Login</button>
        </form>

		<script>
            function formValidator(event){
                event.preventDefault();
                let username = document.getElementById("username").value; 
                let password = document.getElementById("password").value;
                fetch("http://127.0.0.1:8000/api/token/", {
                method: 'POST',
                headers: {
		            'Accept': 'application/json',
		            'Content-Type': 'application/json'
                },
		        body: JSON.stringify({username: username, password: password})
	            })
                .then(response=>response.json())
                .then(data=>{
                    let accessToken = data['access'];
                    let refreshToken = data['refresh'];
                    localStorage.setItem("access", accessToken);
                    localStorage.setItem("refresh", refreshToken);
                    if('access' in data){
                        window.location.href = "/home";
                    }
                    else{
                        alert("username or password invalid");
                    }
                });
            }

            let myform = document.getElementById("login_form");
            myform.addEventListener('submit', formValidator);	
	    </script>
    <%- include('footer') -%>