<%- include('header') -%>
  <div class="header">
    <div class="inner-header flex">
      <h1 class="is-size-1">Order History</h1>
    </div>
  </div>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead id="tablehead">
      <tr>
        <th>Date Ordered</th>
        <th>Time Ordered</th>
        <th>Shipping Address</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody id="orderview">
      
    </tbody>
  </table>

  <script>
    function displayOrder(history) {
        let address = history['address'];
        let datetime = history['date_ordered'];
        let price = history['total_price'];

        let date = datetime.substring(0,10);
        let time = datetime.substring(11,16);
           
        let htmlString = "<tr><td>"+date+"</td><td>"+time+"</td><td>"+address+"</td><td>"+price+"</td>";
        let table = document.getElementById("orderview");
        table.innerHTML += htmlString;
    }

    function Orders(){
        let token = localStorage.getItem("access");
        if(token == null) {
            window.location = "/login";
        }
        fetch("http://127.0.0.1:8000/api/orders/", {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer '+localStorage.getItem("access")
        }
        })
        .then(resp=>resp.json())
        .then(data=>{
            data.forEach(element => {
                displayOrder(element);
            });
        })
    }
    Orders();
  </script>
<%- include('footer') -%>