<%- include('header') -%>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box has-background-grey-light">
              <figure class="image is-square">
                <img id="image" src="">
              </figure>
            </div>
        </div>
        <div class="tile is-4 is-vertical is-parent">
          <div class="tile is-child box has-background-grey-light">
            <p class="title">Name</p>
            <p id="name"></p>
          </div>
          <div class="tile is-child box has-background-grey-light">
            <p class="title">Description</p>
            <p id="desc"></p>
          </div>
          <div class="tile is-child box has-background-grey-light">
            <p class="title">Price</p>
            <p id="price"></p>
          </div>
          <div class="tile is-child box has-background-grey-light">
            <div class="buttons">
        
            </div>
          </div>
        </div>
    </div>

    <script>
        let i = 0;

        function showProduct(){
	        let params = window.location.search;
          let urlParams = new URLSearchParams(params);
          let productID = urlParams.get("id");
 
          if(productID != null && typeof(productID)!= 'undefined'){
            fetch('http://127.0.0.1:8000/api/products/'+productID)
            .then(resp => resp.json())
            .then(data => {
              if('detail' in data){
                alert("The Product with that ID does not exist!");
              }
              else{
                let name = data['name'];
                let desc = data['description'];
                let price = data['price'];
                let image= data['product_image'];

                document.getElementById("image").src = image;
                document.getElementById("name").innerHTML = name;
                document.getElementById("desc").innerHTML = desc;
                document.getElementById("price").innerHTML = "€"+price;

                let addToCart = document.createElement("button");
                addToCart.innerHTML = "Add to Cart";
                addToCart.className = "button is-primary"; 
                let buttonDiv = document.getElementsByClassName("buttons");
                buttonDiv[1].appendChild(addToCart);

                addToCart.onclick = ()=>{
                  let token = localStorage.getItem("access");
                  if(token == null || token == "undefined") {
                    window.location = "/login";
                  }
                  else {
	                  fetch('http://127.0.0.1:8000/apiadd/', {
		                  method: 'POST',
		                  headers: {
			                  'Accept': 'application/json',
			                  'Content-Type': 'application/json',
			                  'Authorization': 'Bearer '+localStorage.getItem("access")
		                  },
		                  body: JSON.stringify({
			                  "product_id": parseInt(productID)
		                  })
	                  })
	                  .then(response=>response.json())
	                  .then(data=>{

                    i++;
                    let btn = document.getElementsByClassName("is-primary");
                    btn[0].innerHTML = "Added to Cart("+i+")!";
		                });
                  }
                }
              }
            });
          }
	      }

        window.addEventListener("load", showProduct);
    </script>
<%- include('footer') -%>