<%- include('header') -%>
        <div class="header">
            <div class="inner-header flex">
                <h1 class="is-size-1">Register</h1>
            </div>
        </div>
        
        <form id="register_form" class="box formcol">
            <div class="field"></div>
                <label class="label" for="username-input">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username-input" id="username" placeholder="Your username" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="email-input">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email-input" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="password-input">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password-input" placeholder="Your password" required>
                </div>
            </div>
            <button class="button is-info is-rounded" type="submit">Create Account</button>
        </form>

		<script>
            function formValidator(event){
                event.preventDefault();
                let username = document.getElementById("username").value; 
                let email = document.getElementById("email").value;
                let password = document.getElementById("password").value;
                fetch("http://127.0.0.1:8000/apiregister/", {
                method: 'POST',
                headers: {
		            'Accept': 'application/json',
		            'Content-Type': 'application/json'
                },
		        body: JSON.stringify({username: username, password: password, email:email})
	            })
                window.location.href = "/login";
            }

            let myform = document.getElementById("register_form");
            myform.addEventListener('submit', formValidator);	
	    </script>
    <%- include('footer') -%>