{%  extends 'base.html' %}

{% block title %}Hello world{%  endblock %}

{%  block content %}
   <header>
      <h1>Shabatomic Shop</h1>
      <p>Welcome, We currently sell the game consoles listed below</p>
   </header>
      {% for p in products  %}
        <li>{{ p.name }} - €{{p.price}} - {{p.description}}</li>
          <a href="/products/{{p.id}}">
            <img src="{{p.product_image.url}}", style="width:500px;height:500px;" />
          </a>
      {% endfor %}
    </ul>
{%  endblock %}